* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #f8f8f8;
  --background: #1a1d23;
  --body: #d7d7d7;
  --highlight: #ff57b2;
}

body {
  background: var(--background);
  color: var(--body);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--white);
  text-align: justify;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
}

p {
  text-align: justify;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
